/* 
#########################
####### LOGIN.js ######## 
#########################
*/

input {
	height: 14px;
	border: 1px solid #C0C0BA;
	border-radius: 12px;
	font-size: 85%;
	padding: 4px 15px 4px 30px;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	-webkit-border-radius: 12px;
	-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	-moz-border-radius: 12px;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);
	background: white;
	outline: none;
}

textarea, select, a { outline: none; }

.login-inputs-container {
	width: auto;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.login-button-container {
	display: flex;
	justify-content: center;
}